<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
    <nav>
        <img src="/img/Logo.png" alt="">
        <ul>
            <li ><a  href="/">Home</a></li>
            <li><a href="/solutions">Solutions</a></li>
            <li><a class="chosen" href="/community">Community</a></li>
            <li><a href="/404">Pricing</a></li>
        </ul>
        <ul>
            <li><a href="/404">Sign in</a></li>
            <li><a href="/404" class="buttonGreen">Start Trial</a></li>
        </ul>
    </nav>
    <section class="hero">
        <article>
        <h1>
            Be aware, Manage well.
        </h1>
        <p>
            Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.
        </p>
        <a href="/404" class="buttonGreen">Find Your Way</a>
        </article>
    </section>
    </header>
    <footer>
        <section>
        <ul>
            <li><img src="/img/Alivio.png" alt=""></li>
            <li ><a href="/">Home</a></li>
            <li><a href="/solutions">Solutions</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/404">Pricing</a></li>
        </ul>
        </section>
    </footer>
</body>
</html>